
<div class="Cart_Quant" >
</div>

{% schema %}
  {
  "name": "Cart Quant",
  "target": "body",
  "javascript": "app.js",
  "settings": [
  {
    "type": "paragraph",
    "content": "Click here to change"
  }
      ]
  }
{% endschema %}


